@import 'tailwindcss';
@import './base.css';

@theme {
  --color-primary: #ebebeb;
  --color-primary-light: #f2f2f2;
  --color-primary-dark: #d2d2d2;
  --color-accent: #2196f3;
  --color-success: #4caf50;
  --color-warning: #ff9800;
  --color-error: #f44336;
  --color-header-background: #f08c87;
}
